<div class="header">
<div class="inner-header">
		<div class="inner-header-1">
			<a class="homebutton"><img src="src/images/QUV0dNzu4c0.jpg" height="40px"></a>
		</div>
		<div class="inner-header-2 text-3"><span>Технологии и гаджеты | Новинки</span></div>
		<div class="inner-header-3">
			<button class="stylebutton-2 btn-block btn-sm" (click)="logout()">
			Выход
			</button>
		</div>
</div>
</div>

<div class="row bluepage">

<div class="navigation">
<div class="inner-navigation">

</div>
</div>

<div class="content">
<div class="inner-content">
	<div class="inner-content-1">
		<ul class="hornav">
			<li><a class="letter-1" routerLink="/store">Главная</a></li>	
			<li><a class="letter-1">Хранилище</a></li>			
		</ul>
	</div>
	<div>
		<router-outlet></router-outlet>
	</div>	
</div>
</div>

<div class="sidebar">
<div class="inner-sidebar">
	
</div>
</div>

</div>

<div class="row bluepage">
 
<div class="footer">
	<div class="inner-footer">
		Подвал сайта
	</div>
</div> 

</div>